 html,
    body {
        height:100%
        width:100%;
        background: #1f2327;
    }

    .container {
        width: 100%;
        margin: 9px 9px;
        height: inherit;
        margin-left: -5px;
    }
    .container .header { /* this class is use for set header hegiht wiedth */
        width: inherit;
        height: 50px;
        background: darkgrey;
        margin: auto;
        /*border: 1px solid black;*/
        color: #fff;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #292e33;
        border-radius: 5px;
        text-align: left;
            }
            #textvar {
                text-align: center;

            }
            #textvar2 {
                text-align: right;
                margin-top: -40px;
                font-size:15px;
                }


    .row {
         width: inherit;
         height:240px;
    
  background: darkgrey;
         background-color: #292e33;
         box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
         margin-top: 10px;
         border-radius: 5px;
            }
   .premium {
    height: 600px;
    width:620px;
    border-radius:1px;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #292e33;
    margin-top: 10px;
    margin-left: -15px;
    overflow: auto;
    scroll-behavior: auto;
    font-family: sans-serif;
    color: #fff;
    scrollbar-color: gray gray;
    border-radius: 5px;
   }          

        #chartContainer {
                background: darkgrey;
                background-color: #292e33;
                box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
                margin-top: 5px;
                margin-left: -28px;
                border-radius: 5px;
                             }
        #chartContainer2 {

                width:300px;
                height:200px;
                background: darkgrey;
                background-color: #292e33;
                box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
                margin-top:5px;
                margin-left: -28px; 
                border-radius: 5px; 


            }
            #chartContainer3 {
                width:300px;
                height:200px;
                background: darkgrey;
                background-color: #292e33;
                box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
                margin-top:5px;
                margin-left: -28px; 
                border-radius: 5px;  


            }
    #chartContainer4 {

                width:300px;
                height:200px;
                background: darkgrey;
                background-color: #292e33;
                box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
                margin-top:5px;
                margin-left: -28px;
                border-radius: 5px;

                        }
       #chartContainer5 {

                width:300px;
                height:200px;
                background: darkgrey;
                background-color: #292e33;
                box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
                margin-top:5px;
                margin-left: -28px;
                border-radius: 5px;

                        }                  
        .footer {
        color: white;
        font-style: oblique;
        text-align:left;
        font-size:10px;
        padding-left:90px;
        float-left:700px;
        padding-right:400px;
           }
    

      .livecomments {
                width:203%;
                height:600px;
                background: darkgrey;
                background-color: #292e33;
                box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
                margin-top: 5px;
                margin-right: : -28px;
                margin-left:-20px;
                color: #fff;
                overflow: auto;
                scroll-behavior: auto;
                font-family: sans-serif;
                scrollbar-color:#ddd;
                border-radius: 5px;              
                        }
                 
        #datatable {
             color: #426481;
             font-size:25px;
             padding-left: 10px;

        }


      .datatable,tr{
        text-align: center;
        vertical-align: center;
        font-size:30px;
    }
    .datatable,th {
        color: #426481;
        margin-bottom:20px;
        padding: 5px;
        border-bottom: 3px solid #1f2327; 
        height:30px;
        width: 35%;
        font-size:20px;
        padding-top:10px;
        margin-bottom:10px;
        vertical-align: center;
        text-align: left;
        margin-left:20px;
        padding-left: 80px;
    }

    .datatable,td {

        color:white;
        border-bottom: 3px solid #1f2327;
        margin-left: 20px;
        margin-top:5px; 
        font-size: 17px;
        padding-top: -30px;
        margin-bottom:10px;
        padding-left:59px;
        vertical-align: center;
        text-align: left;
        height: 80px;
        padding-bottom: 10px;


    } 
       #headerdiv {
        margin-left: 1px;

    }
    #headerdiv1{
        padding-left: 30px;
        margin-top: -18px;
         font-weight: bold;
       
    }
    #headerdiv2 {
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .footer {
        color: white;
        font-style: oblique;
        font-size: 10px;
        text-align:right;
        float:left;
}




            